<app-sidenav></app-sidenav>


<div class="content">
<div *ngIf="role === 'ADMIN' && isActive">
  <div class="container">
    <div class="card employee">
      <div class="text">
        <h2>Nb Total Contrats</h2>
        <p>{{ nb }}</p>
      </div>
    </div>
    <div class="card satisfaction">
        <div class="text">
          <h2>Montant Total des contrats</h2>
          <p>{{ s }}</p>
        </div>
      </div>



    <div class="card clients">
      <div class="text">
        <h1>Nb total interventions</h1>
        <p>{{ nbi }}</p>
      </div>
    </div>
  <br>
  <br>
    <div class="card jobs">
      <div class="text">
        <h2>Nb Total Factures</h2>
        <p>{{ nbf }}</p>
      </div>
    </div>
  </div>
</div>
</div>